html, body { 
	height: 100vh; 
}

body { 
	background: #FFF; 
	font: 400 1.5em/1.5 "Raleway", serif; 
	color: #111; 
	text-align: center; 

}


h1 { 
	font: 700 2.8em/1.2 "Raleway", sans-serif; 
}

h2 { 
	font: 700 1.5em/1.5 "Raleway", sans-serif; 
	margin: 1em 0; 
}

#banner { 
	 height:100%;
	/*background: url(Assets/RingCloseUp.jpg) no-repeat fixed 50% 0; */
	/*background: url(Assets/RingCloseUp.jpg) no-repeat center center fixed; */
	background: url(Assets/RingCloseUp.jpg);
	background-repeat: no-repeat;
	/*background-size: 100% 100%; */
	 background-position: center center;

	background-size: cover;
	width: 100%;
	color: #fff; 
	/*height: 100%; */
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 

}

#banner .mobile{
	display: none;
}

#bannertext { 
	width: 24em; 
	position: fixed; 
	top: 33%; 
	left: 50%; 
	border: .5em solid #fff; 
	margin-left: -12em; 
	padding: 2em 0; 
}

#bannertext p{
	margin-top: 1em;
	font-size: 2em;
}

nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: transparent;
}

.navbar-inverse{
	background: transparent;
	border-bottom: none;
}


nav li {
	display: inline-block;
	padding: 15px 10px;
}

nav li a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
	background-color: rgba(12,39,86,.7);
}

@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

	body {
		width: 500px;
		height: 100%;
	}

	#banner { 
		background: url(mobile_landing.jpg); 
		background-repeat: no-repeat;
	/*background-size: 100% 100%; */
		background-size: cover;
		width: 100%;
		color: #fff; 
		height: 100vh;
	} 


	#bannertext{
		width: 24em; 
		height: 12em;
		position: fixed; 
		top: 28%; 
		left: 250px; 
		border: .3em solid #fff; 
		margin-left: -12em; 
		padding: 2em 0; 
	}


}

#content { 
/*	max-width: 28em; 
	text-align: justify; 
	margin: 0 auto; 
	padding: 2em; */
	height: 100vh;
	width: auto;
}
/*
#content p { 
	margin: 0 0 2em; 
}*/

/*photo */
.pics {
/*	margin:auto;
	margin:0px auto;
	position:relative;
	height:500px;
	width:800px;*/
	list-style: none;
	margin-top: 20%;
}

.about {
	margin-top: 20%;
}


.pics a {
	background:#fff;
	display:inline;
	float:left;
	width:auto;
	padding:10px 10px 30px 10px;
	text-align:center;
	text-decoration:none;
	color:#333;
	font-size:28px;
	font-family:'Nothing You Could Do', cursive;
	font-weight:bold;
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,1);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,1);
	box-shadow:0px 0px 10px rgba(0,0,0,1);
	-webkit-transition:all .30s;
	-moz-transition:all .30s;
	-o-transition:all .30s;
	transition:all .30s;
	/*position:absolute;*/
}

.pics img {
	display:block;
	padding-bottom:20px;
}

/* Pictures placement, scaling and rotation */
.pics li:nth-child(1n) a {
	-webkit-transform:rotate(-15deg) scale(0.7,0.7);
	-moz-transform:rotate(-15deg) scale(0.7,0.7);
	transform:rotate(-15deg) scale(0.7,0.7);
	top:0%;
	left:60%;
}

#sparkler{
	height: 400px;
	width: 450px;
}

/*scrolling picture on the About page */
.cd-fixed-bg {
	/*min-height: 100%;*/
	height: 50%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
 
.cd-fixed-bg.cd-bg-1 {
  background-image: url('lights-abstract-blur-orange.jpg');
}

.cd-fixed-bg .mission{
	color: white;
	text-align: center;
	padding: 90px 90px 30px 90px;
	font-family: 'Roboto', sans-serif;
}

#bigDay {
	height: 100vh;

}

.details {
	margin-top: 20%;
}